# dependencies
node_modules

# Env
.htaccess
.env
.env.*
!.env.example
!.env.test

# Npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
