{
    "arrowParens": "always",
    "bracketSameLine": true,
    "jsxBracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 120,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 4
}
