/** Import tailwind. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Declare font face. */
@font-face {
    font-family: Montserrat;
    src: local('/assets/fonts/montserrat-serif.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('/assets/fonts/open-sans.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('/assets/fonts/roboto-mono.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Kalam';
    src: local('/assets/fonts/kalam-hand.ttf');
    font-weight: normal;
}

/** Overwrite wordpress pagination class. */
.pagination {
    @apply px-2 py-2 w-full flex flex-wrap justify-center items-center;
}

.pagination > .page-numbers {
    @apply px-4 py-2 rounded;
}

.pagination > .page-numbers:hover {
    @apply bg-hokey text-slate-200;
}

.pagination > .prev:hover,
.pagination > .next:hover {
    @apply bg-slate-400 text-slate-100;
}

/** Transition. */
.transition-image {
    @apply transition delay-100 duration-300 ease-in-out;
}
